<html>

<head>
    <title>ShapesList</title>
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/exam.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">    <link rel='shortcut icon' href="images/Logo2.png"/ >
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <div id="menu" class="collapseBox">
        <div id="menuHead" class="boxHeader">
            <a href="/profile">
                <%= user.local.username %>
            </a>
            <!--            <a href="pages/teacherProfilePage.html">Login Teacher</a>-->
            <img id="menuArrow" class="arrow" src="../../images/arrow.png" onclick="toggleMenu('menuInsides')" />
        </div>
        <ul id="menuInsides" class="boxInsides" style="visibility: collapse;">
            <a href="/home">
                <li class="insidesItem">Home</li>
            </a>
            <a href="/shapelist">
                <li class="insidesItem">ShapeLists</li>
            </a>
            <a href="/profile">
                <li class="insidesItem">Profile Page</li>
            </a>
        </ul>
    </div>
    <a href="/home"><img id="logo" class="examLogo" src="../images/Logo3.png" /></a>
    <div id="submitScore">
        <form action="/squareExam" method="post">
            <input id="finalScore" type="number" name="finalScore" readonly />/10
            <input type="submit" value="Submit Grade" />
        </form>
    </div>
    <div class="examBox">
        <ul class="examQuestionList">
            <li class="examQuestion">
                <img class="questionImg questionItem" src="<%= examQuestions[0].picRoute %>" />
                <div class="questionAndInput questionItem">
                    <p class="questionDescrip">
                        <%= examQuestions[0].description %>
                    </p>
                    <input type="number" class="userAnswer" />
                    <button class="submitAnswerBtn" onclick="checkAnswer(0, '<%= examQuestions[0].answer %>')">Submit</button>
                </div>
                <div class="answerBox questionItem">
                    <div class="answerBoxCover">Behind these curtains is the answer!</div>
                    <div class="answerDescrip">
                        <h1><%= examQuestions[0].answer %></h1></div>
                </div>
            </li>
            <li class="examQuestion">
                <img class="questionImg questionItem" src="<%= examQuestions[1].picRoute %>" />
                <div class="questionAndInput questionItem">
                    <p class="questionDescrip">
                        <%= examQuestions[1].description %>
                    </p>
                    <input type="number" class="userAnswer" />
                    <button class="submitAnswerBtn" onclick="checkAnswer(1, '<%= examQuestions[1].answer %>')">Submit</button>
                </div>
                <div class="answerBox questionItem">
                    <div class="answerBoxCover">Behind these curtains is the answer!</div>
                    <div class="answerDescrip">
                        <h1><%= examQuestions[1].answer %></h1></div>
                </div>
            </li>
            <li class="examQuestion">
                <img class="questionImg questionItem" src="<%= examQuestions[2].picRoute %>" />
                <div class="questionAndInput questionItem">
                    <p class="questionDescrip">
                        <%= examQuestions[2].description %>
                    </p>
                    <input type="number" class="userAnswer" />
                    <button class="submitAnswerBtn" onclick="checkAnswer(2, '<%= examQuestions[2].answer %>')">Submit</button>
                </div>
                <div class="answerBox questionItem">
                    <div class="answerBoxCover">Behind these curtains is the answer!</div>
                    <div class="answerDescrip">
                        <h1><%= examQuestions[2].answer %></h1></div>
                </div>
            </li>
            <li class="examQuestion">
                <img class="questionImg questionItem" src="<%= examQuestions[3].picRoute %>" />
                <div class="questionAndInput questionItem">
                    <p class="questionDescrip">
                        <%= examQuestions[3].description %>
                    </p>
                    <input type="number" class="userAnswer" />
                    <button class="submitAnswerBtn" onclick="checkAnswer(3, '<%= examQuestions[3].answer %>')">Submit</button>
                </div>
                <div class="answerBox questionItem">
                    <div class="answerBoxCover">Behind these curtains is the answer!</div>
                    <div class="answerDescrip">
                        <h1><%= examQuestions[3].answer %></h1></div>
                </div>
            </li>
            <li class="examQuestion">
                <img class="questionImg questionItem" src="<%= examQuestions[4].picRoute %>" />
                <div class="questionAndInput questionItem">
                    <p class="questionDescrip">
                        <%= examQuestions[4].description %>
                    </p>
                    <input type="number" class="userAnswer" />
                    <button class="submitAnswerBtn" onclick="checkAnswer(4, '<%= examQuestions[4].answer %>')">Submit</button>
                </div>
                <div class="answerBox questionItem">
                    <div class="answerBoxCover">Behind these curtains is the answer!</div>
                    <div class="answerDescrip">
                        <h1><%= examQuestions[4].answer %></h1></div>
                </div>
            </li>
            <li class="examQuestion">
                <img class="questionImg questionItem" src="<%= examQuestions[5].picRoute %>" />
                <div class="questionAndInput questionItem">
                    <p class="questionDescrip">
                        <%= examQuestions[5].description %>
                    </p>
                    <input type="number" class="userAnswer" />
                    <button class="submitAnswerBtn" onclick="checkAnswer(5, '<%= examQuestions[5].answer %>')">Submit</button>
                </div>
                <div class="answerBox questionItem">
                    <div class="answerBoxCover">Behind these curtains is the answer!</div>
                    <div class="answerDescrip">
                        <h1><%= examQuestions[5].answer %></h1></div>
                </div>
            </li>
            <li class="examQuestion">
                <img class="questionImg questionItem" src="<%= examQuestions[6].picRoute %>" />
                <div class="questionAndInput questionItem">
                    <p class="questionDescrip">
                        <%= examQuestions[6].description %>
                    </p>
                    <input type="number" class="userAnswer" />
                    <button class="submitAnswerBtn" onclick="checkAnswer(6, '<%= examQuestions[6].answer %>')">Submit</button>
                </div>
                <div class="answerBox questionItem">
                    <div class="answerBoxCover">Behind these curtains is the answer!</div>
                    <div class="answerDescrip">
                        <h1><%= examQuestions[6].answer %></h1></div>
                </div>
            </li>
            <li class="examQuestion">
                <img class="questionImg questionItem" src="<%= examQuestions[7].picRoute %>" />
                <div class="questionAndInput questionItem">
                    <p class="questionDescrip">
                        <%= examQuestions[7].description %>
                    </p>
                    <input type="number" class="userAnswer" />
                    <button class="submitAnswerBtn" onclick="checkAnswer(7, '<%= examQuestions[7].answer %>')">Submit</button>
                </div>
                <div class="answerBox questionItem">
                    <div class="answerBoxCover">Behind these curtains is the answer!</div>
                    <div class="answerDescrip">
                        <h1><%= examQuestions[7].answer %></h1></div>
                </div>
            </li>
            <li class="examQuestion">
                <img class="questionImg questionItem" src="<%= examQuestions[8].picRoute %>" />
                <div class="questionAndInput questionItem">
                    <p class="questionDescrip">
                        <%= examQuestions[8].description %>
                    </p>
                    <input type="number" class="userAnswer" />
                    <button class="submitAnswerBtn" onclick="checkAnswer(8, '<%= examQuestions[8].answer %>')">Submit</button>
                </div>
                <div class="answerBox questionItem">
                    <div class="answerBoxCover">Behind these curtains is the answer!</div>
                    <div class="answerDescrip">
                        <h1><%= examQuestions[8].answer %></h1></div>
                </div>
            </li>
            <li class="examQuestion">
                <img class="questionImg questionItem" src="<%= examQuestions[9].picRoute %>" />
                <div class="questionAndInput questionItem">
                    <p class="questionDescrip">
                        <%= examQuestions[9].description %>
                    </p>
                    <input type="number" class="userAnswer" />
                    <button class="submitAnswerBtn" onclick="checkAnswer(9, '<%= examQuestions[9].answer %>')">Submit</button>
                </div>
                <div class="answerBox questionItem">
                    <div class="answerBoxCover">Behind these curtains is the answer!</div>
                    <div class="answerDescrip">
                        <h1><%= examQuestions[9].answer %></h1></div>
                </div>
            </li>

        </ul>
    </div>


</body>
<footer>Site made and owned by Christian F. Coreil</footer>
<script src="../scripts/main.js"></script>
<script src="../scripts/exam.js"></script>

</html>