<html>

<head>
    <title>ShapesList</title>
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/workshop.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">    <link rel='shortcut icon' href="images/Logo2.png"/ >
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <div id="menu" class="collapseBox">
        <div id="menuHead" class="boxHeader">
            <a href="/profile">
                <%= user.local.username %>
            </a>
            <!--            <a href="pages/teacherProfilePage.html">Login Teacher</a>-->
            <img id="menuArrow" class="arrow" src="../../images/arrow.png" onclick="toggleMenu('menuInsides')" />
        </div>
        <ul id="menuInsides" class="boxInsides" style="visibility: collapse;">
            <a href="/home">
                <li class="insidesItem">Home</li>
            </a>
            <a href="/shapelist">
                <li class="insidesItem">ShapeLists</li>
            </a>
            <a href="/profile">
                <li class="insidesItem">Profile Page</li>
            </a>
        </ul>
    </div>
    <div id="chatBox" class="collapseBox">
        <div id="chatBoxHead" class="boxHeader">ChatBox
            <a href="/Logout">
                <button>Logout</button>
            </a>
            <img id="menuArrow" class="arrow" src="../../images/arrow.png" onclick="toggleMenu('chatBoxInsides')" />
        </div>
        <ul id="chatBoxInsides" class="boxInsides" style="visibility: collapse;">            <li class="insidesItem" onclick="minMax('boxYo')">Public</li>
               <%for (i = 0; i< peopleArray.length; i++) { %>
                 <li class="insidesItem" onclick="minMax('<%= peopleArray[i].local.username%>'
                  <%if(user.local.isTeacher === true){%>
                      ,'<%=peopleArray[i].local.email%>', '<%= user.local.username%>'); joinRoom('<%=peopleArray[i].local.email%>');
                  <%}else{%>
                       ,'<%= user.local.email %>', '<%= user.local.username%>');joinRoom('<%= user.local.email%>');
                   <%}%>
                   ">
                    <%= peopleArray[i].local.username %>
                </li>
                <% } %>
            
        </ul>
    </div>
    <a href="/home"><img id="logo" src="../images/Logo3.png" /></a>
    <div id="chatBoxArea">
        <div id="boxYo" class='chatBox ui-widget-content'>
            <ul id='messages'></ul>
            <form action="" class="clientText" onsubmit="return false;">
                <div class="input-group">
                    <input id='textWindow' class="form-control" autocomplete="off" />
                    <div class="input-group-btn">
                        <button id='btnSub' type="button" class="btn btn-default">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="workshopArea">
        <div class="side leftSide">
            <div class="formulaArea">
                <div class="formula">
                    <h3>Perimeter:<h3 id="PerimeterAnsr"></h3></h3>
                    <button onclick="changeDescrip('perimeter', 0)">How To Calculate</button>
                    <button onclick="changeDescrip('perimeter', 1)">Intresting Fact</button>
                    <button onclick="changeDescrip('perimeter', 2)">What's it used for</button>
                </div>
                <div class="formula">
                    <h3>Area:<h3 id="RectAreaAnsr"></h3></h3>
                    <button onclick="changeDescrip('rectArea', 0)">How To Calculate</button>
                    <button onclick="changeDescrip('rectArea', 1)">Intresting Fact</button>
                    <button onclick="changeDescrip('rectArea', 2)">What's it used for</button>
                </div>
                <div class="formula">
                    <h3>Shape Color</h3>
                    <input id="colorInput" class="jscolor" value="000ff0" onchange="updateShape()" readonly />
                </div>
            </div>
            <div class="playBox"></div>
        </div>
        <div class="side rightSide">
            <div class="shapeInfoBox">
                <div class="coreMeasuresBox">
                    <div class="coreMeasure">
                        <h3>Width / X</h3>
                        <input id="widthInput" class="bInput" type="number" value="40" onchange="updateShape()" />
                    </div>
                    <div class="coreMeasure">
                        <h3>Length / Y</h3>
                        <input id="lengthInput" class="gInput" type="number" value="40" onchange="updateShape()" />
                    </div>
                </div>
                <div class="btnArea">
                    <div class="resetBtn">
                        <button id="toggleBtn" onclick="toggleDynSizeRect()">Arrows Off</button>
                        <button onclick="resetCanvas()">reset shape</button>
                        <button id="toggleGlow" onclick="toggleGlow()">Highlight Measurements</button>
                        <a href="/perimeterLesson">
                            <button>Take Lesson</button>
                        </a>
                    </div>

                </div>
            </div>
            <div class="descripBox">
                This is the description block. Click on one of the formula buttons to learn different aspects about the math formula.
            </div>
        </div>

    </div>
    

    <% if (user.local.userMedals.medal3 === false) { %>
        <%= user.local.userMedals.medal3 = true %>
            <% user.save(); %>
                <script>
                    alert("You got the '2D!' Medal for going to coming to a 2D workshop!");
                </script>
                <%}%>
</body>

<footer>Site made and owned by Christian F. Coreil</footer>
<script src="../scripts/main.js"></script>
<script src="../scripts/three.min.js"></script>
<script src="../scripts/TrackballControls.js"></script>
<script src="../scripts/squareTHREE.js"></script>
<script src="../scripts/ButtonActions.js"></script>
<script src="../scripts/jscolor.js"></script>
<script src="../scripts/workshop.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../scripts/client-socket.js"></script>

</html>