<html>

<head>
    <title>ShapesList</title>
    <link rel="stylesheet" href="../../stylesheets/main.css">
    <link rel="stylesheet" href="../../stylesheets/profilePage.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel='shortcut icon' href="images/Logo2.png" />
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>

<body>
    <div id="menu" class="collapseBox">
        <div id="menuHead" class="boxHeader">
            <a href="/profile">
                <%= user.local.username %>
            </a>
            <!--            <a href="pages/teacherProfilePage.html">Login Teacher</a>-->
            <img id="menuArrow" class="arrow" src="../../images/arrow.png" onclick="toggleMenu('menuInsides')" />
        </div>
        <ul id="menuInsides" class="boxInsides" style="visibility: collapse;">
            <a href="/home">
                <li class="insidesItem">Home</li>
            </a>
            <a href="/shapelist">
                <li class="insidesItem">ShapeLists</li>
            </a>
            <a href="/profile">
                <li class="insidesItem">Profile Page</li>
            </a>
        </ul>
    </div>
    <div id="chatBox" class="collapseBox">
        <div id="chatBoxHead" class="boxHeader">ChatBox
            <a href="/Logout">
                <button>Logout</button>
            </a>
            <img id="menuArrow" class="arrow" src="../../images/arrow.png" onclick="toggleMenu('chatBoxInsides')" />
        </div>
        <ul id="chatBoxInsides" class="boxInsides" style="visibility: collapse;">
            <li class="insidesItem" onclick="minMax()">Open/Close</li>
        </ul>
    </div>
    <img id="logo" src="../../images/Logo3.png" />
    <div class="modal" id="myModal">
        <div class="modal-content">
            <div class="modal-header">
                <button onclick="toggleModal('myModal')">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">New Information</h4>
            </div>
            <div class="modal-body">
                <form action="/profile" method="post">
                    New Email:
                    <input type="email" name="newEmail" value='<%= user.local.email  %>' />
                    <br/>New Password:
                    <input type="password" name="newPassword" /> <br/>
                    New Username:
                    <input type="text" name="newUsername" value='<%= user.local.username  %>' />
                    <br/>New Profile Pic Link:
                    <input type="text" id="newPic" name="newPic" value='<%= user.local.profilePic  %>' />
                    <br/>
                    <br/>New Bio:
                    <textarea name="newBio" maxlength="250">
                        <%= user.local.profileBio  %>
                    </textarea>
                    <br/>New Profile Color:
                    <input id="newColor" onchange="backgroundCurrentColor()" type="text" name="newColor" class="jscolor" value='<%= user.local.profileColor  %>' readonly/>
                    <br/>
                    <input type="submit" value="Save Changes" />
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="searchTeacher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="searchBar">Search For Teacher:
            <input id="studentInput" onkeyup="updateTeacherList([
       <%for(i=0; i<teacherArray.length; i++){%>
       '<%= teacherArray[i]%>',
       <%}%>
       ])" />
        </div>
        <ul id="teacherList">
            <%for(i=0; i<teacherArray.length; i++){%>
                <form action="/changeTeacher" method="post">
                    <input name="teacher" value='<%=teacherArray[i]%>' readonly/>
                    <input type="submit" value="Choose Teacher" />
                </form>
                <%}%>
        </ul>
    </div>

    <div class="profileBody">
        <div class="examItemListBox">
            <ul class="examItemList">
                <li class="examItem">
                    <h3>Square Exam</h3>
                    <% if(user.local.userExams.rectExam > 7){ %>
                        <div class="gradeDiv green">
                            <%=user.local.userExams.rectExam %>/10</div>
                        <h3>Great!</h3>
                        <%} else if(user.local.userExams.rectExam > 4) {%>
                            <div class="gradeDiv yellow">
                                <%=user.local.userExams.rectExam %>/10</div>
                            <h3>Alright</h3>
                            <%} else if(user.local.userExams.rectExam > 0) {%>
                                <div class="gradeDiv red">
                                    <%=user.local.userExams.rectExam %>/10</div>
                                <h3>Failed</h3>
                                <%} else if(user.local.userExams.rectExam === 0) {%>
                                    <div class="gradeDiv black">
                                        <%=user.local.userExams.rectExam %>/10</div>
                                    <h3>ZERO</h3>
                                    <%} else if(user.local.userExams.rectExam < 0) {%>
                                        <div class="gradeDiv grey">
                                            <%=user.local.userExams.rectExam %>/10</div>
                                        <h3>Not Started</h3>
                                        <% }%>
                </li>
                <li class="examItem">
                    <h3>Circle Exam</h3>
                    <% if(user.local.userExams.circExam > 7){ %>
                        <div class="gradeDiv green">
                            <%=user.local.userExams.circExam %>/10</div>
                        <h3>Great!</h3>
                        <%} else if(user.local.userExams.circExam > 4) {%>
                            <div class="gradeDiv yellow">
                                <%=user.local.userExams.circExam %>/10</div>
                            <h3>Alright</h3>
                            <%} else if(user.local.userExams.circExam > 0) {%>
                                <div class="gradeDiv red">
                                    <%=user.local.userExams.circExam %>/10</div>
                                <h3>Failed</h3>
                                <%} else if(user.local.userExams.circExam === 0) {%>
                                    <div class="gradeDiv black">
                                        <%=user.local.userExams.circExam %>/10</div>
                                    <h3>ZERO</h3>
                                    <%} else if(user.local.userExams.circExam < 0) {%>
                                        <div class="gradeDiv grey">
                                            <%=user.local.userExams.circExam %>/10</div>
                                        <h3>Not Started</h3>
                                        <% }%>
                </li>
                <li class="examItem">
                    <h3>Prism Exam</h3>
                    <% if(user.local.userExams.prismExam > 7){ %>
                        <div class="gradeDiv green">
                            <%=user.local.userExams.prismExam %>/10</div>
                        <h3>Great!</h3>
                        <%} else if(user.local.userExams.prismExam > 4) {%>
                            <div class="gradeDiv yellow">
                                <%=user.local.userExams.prismExam %>/10</div>
                            <h3>Alright</h3>
                            <%} else if(user.local.userExams.prismExam > 0) {%>
                                <div class="gradeDiv red">
                                    <%=user.local.userExams.prismExam %>/10</div>
                                <h3>Failed</h3>
                                <%} else if(user.local.userExams.prismExam === 0) {%>
                                    <div class="gradeDiv black">
                                        <%=user.local.userExams.prismExam %>/10</div>
                                    <h3>ZERO</h3>
                                    <%} else if(user.local.userExams.prismExam < 0) {%>
                                        <div class="gradeDiv grey">
                                            <%=user.local.userExams.prismExam %>/10</div>
                                        <h3>Not Started</h3>
                                        <% }%>
                </li>
                <li class="examItem">
                    <h3>Sphere Exam</h3>
                    <% if(user.local.userExams.sphereExam > 7){ %>
                        <div class="gradeDiv green">
                            <%=user.local.userExams.sphereExam %>/10</div>
                        <h3>Great!</h3>
                        <%} else if(user.local.userExams.sphereExam > 4) {%>
                            <div class="gradeDiv yellow">
                                <%=user.local.userExams.sphereExam %>/10</div>
                            <h3>Alright</h3>
                            <%} else if(user.local.userExams.sphereExam > 0) {%>
                                <div class="gradeDiv red">
                                    <%=user.local.userExams.sphereExam %>/10</div>
                                <h3>Failed</h3>
                                <%} else if(user.local.userExams.sphereExam === 0) {%>
                                    <div class="gradeDiv black">
                                        <%=user.local.userExams.sphereExam %>/10</div>
                                    <h3>ZERO</h3>
                                    <%} else if(user.local.userExams.sphereExam < 0) {%>
                                        <div class="gradeDiv grey">
                                            <%=user.local.userExams.sphereExam %>/10</div>
                                        <h3>Not Started</h3>
                                        <% }%>
                </li>
            </ul>
        </div>
        <div class="rightSide">
            <div class="infoBox">
                <div class="infoBoxTopRow">
                    <img class="profilePic" src='<%= user.local.profilePic%>' />
                    <div class="nameAndPass">
                        <h4> Username: <%= user.local.username %></h4>
                        <h4> Email: <%= user.local.email %></h4>
                        <h4> Teacher: <%= user.local.userConnections[0] %></h4>
                    </div>
                </div>
                <div class="infoBoxBottomRow">
                    <textarea class="bio" maxlength="250" readonly>
                        <%= user.local.profileBio %>
                    </textarea>
                    <div class="colorAndSave">
                        <button onclick="toggleModal('myModal')">
                            Edit Profile
                        </button>
                        <button onclick="toggleModal('searchTeacher')">
                            Search Teacher
                        </button>
                    </div>
                </div>
            </div>
            <div class="medalListBox">
                <div class="medalAndName">
                    <% if (user.local.userMedals.medal1 === false) { %>
                        <%= user.local.userMedals.medal1 = true %>
                            <% user.save(); %>
                                <script>
                                    alert("You got the 'Make Account' Medal");
                                </script>
                                <%}%>
                                    <img class="medal unlocked" src="../../images/Logo1.png" />

                                    <div class="medalName">Make Account</div>
                </div>
                <div class="medalAndName">
                    <% if (user.local.userMedals.medal2 === true) {%>
                        <img class="medal unlocked" src="../../images/Medals/CubeMedal.png" />
                        <% } else { %>
                            <img class="medal locked" src="../../images/Medals/CubeMedal.png" />
                            <%}%>
                                <div class="medalName">3D!</div>
                </div>
                <div class="medalAndName">
                    <% if (user.local.userMedals.medal3 === true) {%>
                        <img class="medal unlocked" src="../../images/Medals/HexagonMedal.png" />
                        <% } else { %>
                            <img class="medal locked" src="../../images/Medals/HexagonMedal.png" />
                            <%}%>
                                <div class="medalName">Shapes</div>
                </div>
                <div class="medalAndName">
                    <% if (user.local.userMedals.medal4 === true) {%>
                        <img class="medal unlocked" src="../../images/Medals/PassMedal.png" />
                        <% } else { %>
                            <img class="medal locked" src="../../images/Medals/PassMedal.png" />
                            <%}%>
                                <div class="medalName">Your first pass</div>
                </div>
<!--
                <div class="medalAndName">
                    <% if (user.local.userMedals.medal5 === true) {%>
                        <img class="medal unlocked" src="../../images/Medals/PMedal.png" />
                        <% } else { %>
                            <img class="medal locked" src="../../images/Medals/PMedal.png" />
                            <%}%>
                                <div class="medalName">Styling!</div>
                </div>
-->
                <div class="medalAndName">
                    <% if (user.local.userMedals.medal6 === true) {%>
                        <img class="medal unlocked" src="../../images/Medals/PerfectMedal.png" />
                        <% } else { %>
                            <img class="medal locked" src="../../images/Medals/PerfectMedal.png" />
                            <%}%>
                                <div class="medalName">Perfect!</div>
                </div>
<!--
                <div class="medalAndName">
                    <% if (user.local.userMedals.medal7 === true) {%>
                        <img class="medal unlocked" src="../../images/Medals/SmileMedal.png" />
                        <% } else { %>
                            <img class="medal locked" src="../../images/Medals/SmileMedal.png" />
                            <%}%>
                                <div class="medalName">Talkitive</div>
                </div>
-->
                <div class="medalAndName">
                    <% if (user.local.userMedals.meda8 === true) {%>
                        <img class="medal unlocked" src="../../images/Medals/StarMedal.png" />
                        <% } else { %>
                            <img class="medal locked" src="../../images/Medals/StarMedal.png" />
                            <%}%>
                                <div class="medalName">Straight A's</div>
                </div>
            </div>
        </div>
    </div>
    <div id="boxYo" class='chatBox ui-widget-content'>
        <ul id='messages'></ul>
        <form action="" class="clientText" onsubmit="return false;">
            <div class="input-group">
                <!-- Autocomplete attribute used for setting if the browser will try to suggest previous text -->
                <input id='textWindow' class="form-control" autocomplete="off" />
                <div class="input-group-btn">
                    <button id='btnSub' type="button" class="btn btn-default">Send</button>
                </div>
            </div>
        </form>
    </div>
    
<% if (user.local.userMedals.medal4 === false) { %>
       <%if (user.local.userExams.rectExam > 6 || user.local.userExams.circExam > 6 || user.local.userExams.prismExam > 6 || user.local.userExams.sphereExam > 6  ){%>
        <%= user.local.userMedals.medal4 = true %>
            <% user.save(); %> 
                <script>
                    alert("Congrats on your first passing grade! You got the passing medal! Next time you refresh, you wil see the medal.");
                </script>
                <%}%>
                <%}%>
                
    <% if (user.local.userMedals.medal6 === false) { %>
       <%if (user.local.userExams.rectExam === 10 || user.local.userExams.circExam === 10 || user.local.userExams.prismExam === 10 || user.local.userExams.sphereExam === 10  ){%>
        <%= user.local.userMedals.medal6 = true %>
            <% user.save(); %>
                <script>
                    alert("Congrats on your first Perfect grade! You got the perfect medal! Next time you refresh, you wil see the medal.");
                </script>
                <%}%>
                <%}%>
                
    <% if (user.local.userMedals.medal8 === false) { %>
       <%if (user.local.userExams.rectExam > 9 && user.local.userExams.circExam > 9 || user.local.userExams.prismExam > 9 || user.local.userExams.sphereExam > 9  ){%>
        <%= user.local.userMedals.medal8 = true %>
            <% user.save(); %>
                <script>
                    alert("Congrats on All A's! You got the Straight A's medal! Next time you refresh, you wil see the medal.");
                </script>
                <%}%>
                <%}%>
                
</body>
<footer>Site made and owned by Christian F. Coreil</footer>
<script src="../scripts/main.js"></script>
<script src="../scripts/profile.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script onload="backgroundColor('<%= user.local.profileColor %>')" src="../scripts/jscolor.js"></script>
<script src="../scripts/client-socket.js"></script>

</html>